body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
    animation: backgroundShift 10s infinite alternate;
    background: linear-gradient(45deg, #ff7b00, #00bcd4, #8e44ad);
    background-size: 400% 400%;
    transition: background 1s ease;
}

@keyframes backgroundShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
